<div class="uk-card uk-card-default uk-card-body uk-card-hover" style="border-radius: 5%;">
    <meting-js server="<%- theme.sidebar.music["server"] %>" type="<%- theme.sidebar.music["type"]%>" id="<%- theme.sidebar.music["id"]%>" autoplay="<%-theme.sidebar.music["autoplay"]%>"></meting-js>
</div>