<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>
<head>
    <meta charset="UTF-8">
    <title><%=pageTitle%></title>
    <% if (theme.stylesheets != undefined && theme.stylesheets.length > 0) { %>
      <!-- stylesheets list from _config.yml -->
      <% theme.stylesheets.forEach(url => { %>
        <link rel="stylesheet" href="<%=url%>">
      <% }); %>
    <% } %>
    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/uikit/3.3.1/css/uikit.min.css">
    <script src="https://cdn.staticfile.org/uikit/3.3.1/js/uikit.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/fancybox/3.5.7/jquery.fancybox.min.css">
    <script src="https://cdn.staticfile.org/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="/js/mestino.js"></script>
    <!--本地搜索-->
    <% if(config.search != undefined){%>
    <script src="/js/search.js"></script>
    <script type="text/javascript"> 
      var search_path = "<%= config.search.path %>";
      if (search_path.length == 0) {
        search_path = "search.xml";
      }
      var path = "<%= config.root %>" + search_path;
      searchFunc(path, 'local-search-input', 'local-search-result');
    </script>
    <% }%>
    <!--mestino配置转移-->
</head>