<div class="uk-width-1-3" style="position: relative;left: 1%;top: -20%">
    <div class="uk-width-3-4">
    <% Object.keys(theme.sidebar).forEach(key =>{ %>
    <%- include("../widget/"+key+".ejs"); %>
    <% }); %>
    </div>
</div>